.create-post {
  border: 1px solid #999999;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.create-post h4 {
  font-size: 22px;
  font-weight: 700;
}

.create-post form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-post-actions {
  display: flex;
  justify-content: flex-end;
}
